:root{
    --yellow: #f5bf23;
    --black: #192a56;
    --white:#fff;
    --light-color: #666;
    /* --light-bg:#eee; */
    /* --light-bg:#D6D6D6; */
    --light-bg:#DADADA;
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    --border: .1rem solid rgba(0,0,0,.3);

}

.bg-sfibras-dark{
    background: var(--black);
}

.img-miEmpresa{
    max-width: 30rem;
    margin: auto;
    margin-bottom: 2rem;
}
.img-miEmpresa img{
    width: 100%;
    height: 100%;

}
.table-items-cotizacion input,
.table-items-oc input{
    min-width: 60px;
    padding: .5rem;
}

.table-items-cotizacion tbody tr td:nth-child(2),
.table-items-cotizacion tbody tr td:nth-child(3),
.table-items-oc tbody tr td:nth-child(2),
.table-items-oc tbody tr td:nth-child(3){
    width: 25%;
}
.table-cotizaciones-index tbody tr td:nth-child(7){
    min-width: 140px;
}
.table-cotizacion-totales,
.table-oc-totales{
    width: 300px;
    float: right;
}
.table-cotizacion-totales tr td,
.table-oc-totales tr td{
    width: 50%;
}
.btn-sfibras{
    background-color: var(--black);
    color: var(--white);
}
.btn-sfibras:hover:enabled{
    opacity: .9;
    color: var(--white);
}
.btn-sfibras:hover{
    color: var(--white);
}

.btn-sfibras2{
    /* background-color: var(--black); */
    background: #304477;
    color: var(--white);
}
.btn-sfibras2:hover{
    opacity: .9;
    color: var(--white);
}
/* Cotizacion content-Envio */
.content-envio-precio,
.content-otro-formaPago,
.content-form-nuevo-cliente{
    background: #DADADA;
    border-radius: 5px;
}

/* Cotizacion show */
.table-items-coti-show thead,
.table-precios-coti-show tr td:nth-child(1),
.table-items-oc-show thead{
    background: #304477;
    color: #fff;
}
.table-items-coti-show tbody,
.table-items-oc-show tbody,
.table-precios-coti-show tr td:nth-child(2){
    background: var(--light-bg);

}
/* Steps progress control orden compra */
.stepper-wrapper {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    cursor: pointer;

    @media (max-width: 768px) {
      font-size: 12px;
    }
  }


  .stepper-item::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: -50%;
    z-index: 2;
  }

  .stepper-item::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 2;
  }

  .stepper-item .step-counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
    margin-bottom: 6px;
    transition: .3s all ease;
  }

  .stepper-item .step-counter:hover{
    transform: scale(1.1,1.1);
  }

  .stepper-item.active {
    font-weight: bold;
  }

  .stepper-item.completed .step-counter {
    background-color: #4bb543;
  }

  .stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #4bb543;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 3;
  }

  .stepper-item:first-child::before {
    content: none;
  }
  .stepper-item:last-child::after {
    content: none;
  }

  /* DASHBOARD ------------------------------------*/
  .content-cards-dash{
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
	gap: 1.5rem;
  }
  .content-cards-dash .card-dash{
    height: 150px;
	border-radius:3px;
    padding: 0 2rem;
	display: flex;
	justify-content: space-between;
    align-items: center;
	background: #fff;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
  .content-cards-dash .card-dash h3{
      font-size: 1.3rem;
      font-weight: 600;
      text-transform: uppercase;
  }
  .content-cards-dash .card-dash span{
      font-size: 1.2rem;
      font-weight: 500;
  }
  .content-cards-dash .card-dash .content-icon div{
      font-size: 3rem;
      color: #DADADA;
  }
  .content-cards-dash .card-dash:nth-child(1){
    border-left: 5px solid #ffc107;
  }
  .content-cards-dash .card-dash:nth-child(2){
    border-left: 5px solid 	#fd7e14;
  }
  .content-cards-dash .card-dash:nth-child(3){
    border-left: 5px solid 	#28a745;
  }
  .content-cards-dash .card-dash:nth-child(4){
    border-left: 5px solid #17a2b8;
  }
  /*------------------------------------------------  */


@media (max-width:500px){
    .table-items-cotizacion tbody tr td:nth-child(2) input,
    .table-items-cotizacion tbody tr td:nth-child(3) input{
        width: 120px;
    }
}
