
*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
   /*  transition: all .1s linear; */
}

:root{
    --yellow: #f5bf23;
    --black: #192a56;
    --white:#fff;
    --light-color: #666;
    /* --light-bg:#eee; */
    /* --light-bg:#D6D6D6; */
    --light-bg:#DADADA;
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    --border: .1rem solid rgba(0,0,0,.3);

}

html{
    font-size: 62.5%;
    /* font-size: 70.5%; */
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
    color: var(--black);
}
html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background:var(--black);
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    flex-grow: 1;/* footer simepre abajo */
    position: relative;/* agregado por servicios page */
}

@keyframes fadeIn {
    0%{
        top: 50%;
        opacity: 0;
    }
}

.header{
    position: sticky;
    top: 0;left: 0;right: 0;
    box-shadow: var(--box-shadow);
    padding: 1.5rem 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background: var(--white);
}

/* .header .logo{
    font-size: 2.5rem;
    text-transform: capitalize;
} */
.header .logo img{
    width: 120px;
    /* height: 50px; */
}
.header .navbar a{
    font-size: 1.7rem;
    text-transform: capitalize;
    font-weight: 500;
    margin: 0 1rem;
}
.active-navbar-link{
    color: var(--yellow);
}
.header .navbar a:hover{
    color: var(--yellow);
}
.header .icons div{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    background: var(--light-bg);
    color: var(--black);
    cursor: pointer;
    text-align: center;
}
.header .icons div:hover{
    background-color: var(--black);
    color: var(--white);
    margin-left: .3rem;
}
.header-icons-active{
    background-color: var(--black) !important;
    color: var(--white) !important;
    margin-left: .3rem;
}
.header .icons #menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    width: 70rem;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    padding: 1rem;
    display: none;
    align-items: center;
    gap: 1rem;
    animation: fadeIn .2s linear;
}
.header .search-form.active{
    display: flex;
}
.header .search-form input{
    width: 100%;
    padding: 1.2rem 1.4rem;
    background: var(--light-bg);
    font-size: 1.6rem;
    color: var(--light-color);
}
.header .search-form label{
    font-size: 2.5rem;
    color: var(--black);
    cursor: pointer;
    margin: 0 1rem;
}
.header .search-form label:hover{
    color: var(--yellow);
}

/*.header .login-form{
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    width: 40rem;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    padding: 2rem;
    animation: fadeIn .2s linear;
    display: none;
}
.header .login-form.active{
    display: block;
}
 .header .login-form h3{
    font-size: 2rem;
    text-transform: uppercase;
} */
.content-login-form{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10%;
}
.login-form{
    margin-top: 8%;
    top: 20%;
    width: 50rem;
    background: var(--white);
    box-shadow: var(--box-shadow);
    padding: 3rem;
}
.login-form h3{
    font-size: 3rem;
    text-align: center;
    margin: 1.5rem 0;
    font-weight: bold;
}

.btn-bg{
    background: var(--black);
}
/* ---------------------  */
.contact-info-content{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
    height: 100%;
    width: 100%;
    z-index: 1000;
    display: none;
}
.contact-info{
    position: absolute;
    top: 0;right: 0;
    width: 34rem;
    background: var(--white);

    height: 100%;
    text-align: center;
    padding: 0 2rem;
    padding-top: 5rem;

}
.contact-info-content.active{
    display: block;
}
/* .contact-info{
    position: fixed;
    top: 0;right: 0;
    width: 34rem;
    background: var(--white);

    height: 100%;
    text-align: center;
    z-index: 1100;
    padding: 0 2rem;
    padding-top: 5rem;
    display: none;


}
.contact-info.active{
    box-shadow: 0 0 0 100vw rgba(0,0,0,.7);
    display: block;
} */
/* ------------- */
.contact-info .info{
    padding: 1rem 0;
}
.contact-info .info i{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    background: var(--light-bg);
    color: var(--black);
    cursor: pointer;
    text-align: center;
    margin-bottom: .3rem;
}
.contact-info .info h3{
    font-size: 2rem;
    text-transform: capitalize;
    padding: 1rem 0;
}
.contact-info .info p{
    /* graphtext */
    font-size: 1.5rem;
    color: var(--light-color);
    line-height: 1.5;
}
.contact-info .share{
    padding-top: 1rem;
    border-top: var(--border);
    margin-top: 1rem;
}
.contact-info .share a{
    /* icons box */
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    background: var(--light-bg);
    color: var(--black);
    cursor: pointer;
    text-align: center;
    margin: 0 .3rem;
}
.contact-info #close-contact-info{
    position: absolute;
    top: 1rem;right: 1.5rem;
    cursor: pointer;
    font-size: 3rem;
    color: var(--black);
}
.contact-info #close-contact-info:hover{
    transform: rotate(90deg);
}
/* Home***************+ */
section{
   padding: 5rem 15%;
}
.home{
    padding: 0;
}
.home .slide{
    /* min-height: 60rem; */
    min-height: 70rem;
    display: flex;
    align-items: center;
    position: relative;
    background-size: cover !important;
    background-position: center !important;
}
.home .slide::before{
    content: '';
    position: absolute;
    top: 0;left: 0;
    height: 100%;
    width: 100%;
    /* background: linear-gradient(90deg, var(--yellow),transparent); */
   /*  background: rgba(245,191,35,0.5); */
  /*  background: rgba(102,102,102,0.7); */
   /* background: linear-gradient(90deg, rgba(102,102,102,1),rgba(102,102,102,0.5)); */
   background: linear-gradient(90deg, rgba(245,191,35,0.8),rgba(102,102,102,0.5));
}
.home .slide .content{
    width: 50rem;
    position: relative;
}
.home .slide .content h3{
    font-size: 6rem;
    font-weight: bold;
    text-transform: uppercase;
}
.home .slide .content p{
    /* font-size: 1.6rem; */
    font-size: 1.8rem;
    /* color: var(--light-color); */
    color: var(--white);
    /* line-height: 2; */
    line-height: 1.8;
    /* padding: 1rem 0; */
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.home .home-slider .swiper-button-next,
.home .home-slider .swiper-button-prev{
    top: initial;
    bottom: 0;
    left: initial;
    right: 0;
    height: 7rem;
    width: 7rem;
    line-height: 7rem;
    font-size: 3rem;
    background: var(--white);
}
.home .home-slider .swiper-button-next:hover,
.home .home-slider .swiper-button-prev:hover{
    background: var(--yellow);
}
.home .home-slider .swiper-button-next::after,
.home .home-slider .swiper-button-prev::after{
    font-size: 2rem;
    color: var(--black);
}
.home .home-slider .swiper-button-prev{
    right: 7rem;
}
/* heading secitons ************ */
.heading{
    margin-bottom: 3rem;
    font-size: 3rem;
    font-weight: 700;
    text-transform: capitalize;
    padding: 1rem;
    border-left: 1rem solid var(--yellow);
    letter-spacing: .2rem;
}
.heading2{
    margin-bottom: 3rem;
    font-size: 3rem;
    font-weight: 500;
    text-transform: capitalize;
    padding: 1rem;
    border-bottom: .4rem solid var(--yellow);
}
/* ABOUT ************ */
.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}
.about .row .img{
    flex: 1 1 41rem;
}
.about .row .img img{
    width: 100%;
}
.about .row .content{
    flex: 1 1 41rem;
}
.about .row .content h3{
    font-size: 3.5rem;
    text-transform: capitalize;
    font-weight: 700;
}
.about .row .content p{
    font-size: 1.5rem;
    color: var(--light-color);
    line-height: 2;
    padding: 1rem 0;
}
.about .box-container{
    margin-top: 3rem;
    /* grid */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem,1fr));
    gap: 2rem;
    /*  */
    align-items: flex-end;
}
.about .box-container .box{
    text-align: center;
    background: var(--light-bg);
    padding: 3rem 2rem;
    border: 1px solid var(--yellow);
    height: 20rem;
}
.about .box-container .box h3{
    font-size: 4rem;
    font-weight: 700;
}
.about .box-container .box img{
    /* width: 8rem; */
    margin: auto;
    height: 8rem;
}
.about .box-container .box p{
    font-size: 1.5rem;
    color: var(--light-color);
    line-height: 1.8;
    padding-top: 1.8rem;
}
/* Services **************** */
.services{
    background:var(--black);
    padding-top: 4rem;
    padding-bottom: 6rem;
}
.services .heading{
    color: var(--white);
}
.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem,1fr));
    gap: 2rem;
}
.services .box-container .box{
     /* text-align: center; */
    background: var(--white);
    /* box-shadow: var(--box-shadow);
    border: var(--border);
    height: 40rem; */
    transition:.2s linear;
}
.services .box-container .box .image{
    height: 35rem;
}
.services .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.services .box-container .box .content{
    display: flex;
    /* gap: 5rem; */
    justify-content: space-between;

}
.services .box-container .box .content .info{
    /* padding: 1rem 1.5rem; */
    width: 85%;
    height: 100%;
    padding: 1rem;

}
.services .box-container .box .content .info h3{
    font-size: 2.5rem;
    font-weight: 600;
}

.services .box-container .box .content .info p{
    font-size: 1.4rem;
    color: var(--light-color);
    line-height: 1.2;
}
.services .box-container .box .content a{
    width: 15%;
    height: 100%;
    font-size: 3rem;
    background: var(--yellow);
    color: var(--white);
    cursor: pointer;
    text-align: center;
    line-height: 8rem;
    transition: .1s linear;
}
.services .box-container .box .content a:hover{
    background: var(--light-bg);
    color: var(--black)
}
/* Projects(trabajos) */
.projects{
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.projects .heading{
    display: flex;
    justify-content: space-between;
}
.projects .heading span{
    font-size: 2rem;
    font-weight: 500;
}
.projects .heading span:hover{
    color: var(--yellow);
}
.projects .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    gap: 2rem;
}
.projects .box-container .box{
    background: var(--white);
    height: 25rem;
    overflow: hidden;
    cursor: pointer;

}
.projects .box-container .box img{
    width: 100%;
    height: 100%;
    background-size: cover;
    transition:.2s linear;

}
.projects .box-container .box img:hover{
    transform: scale(1.05);
}
.popup-image{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .9);
    height: 100%;
    width: 100%;
    z-index: 1000;
    display: none;
}
.popup-image img{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    /* border:5px solid #fff; */
    border-radius: 5px;
    width: 750px;
    object-fit: cover;
    max-height: calc(100vh - 150px);
}
.popup-image .close-popup{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 50px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}
/* Contact ****************/
.contact{
    background: var(--black);
}
.contact .heading{
    color: var(--white);
}
.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.contact .row .map{
    flex: 1 1 41rem;
    width: 100%;
}
.contact .row form{
    flex: 1 1 41rem;
    background: var(--white);
    padding: 2rem;

}
.contact .row form h3{
    font-size: 2.5rem;
    text-transform: capitalize;
    font-weight: 500;
    padding-bottom: 1rem;
}
.contact .row form .box{
    margin: .7rem 0;
    width: 100%;
    padding: 1.5rem 1rem;
    border-bottom: var(--border);
    font-size: 1.6rem;
    background: var(--light-bg)
}
.contact .row form textarea{
    height: 15rem;
    resize: none;
}
/* Cliente Logos ****************** */
.logo-container{
   text-align: center;
   padding-top: 8rem;
   padding-bottom: 8rem;
}

.logo-container img{
    height: 10rem;
    pointer-events: none;
    user-select: none;
    margin: auto;
}
/* fOOTER ****** */
footer .footer1{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
    background: url('../storage/cliente/banner3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
footer .footer1::before{
    content: '';
    position: absolute;
    top: 0;left: 0;
    height: 100%;
    width: 100%;
    background: rgba(25,42,86,0.8);

}
footer .footer2{
    background: var(--light-bg);
    text-align: center;
    padding: 1.5rem 0;
}
footer .footer2 p{
    font-size: 1.3rem;
    font-weight: 600;
}
footer .footer1 .logo,
footer .footer1 .menu-links,
footer .footer1 .contacto{
    position: relative;
}
footer .footer1 .menu-links{
    padding-left: 40%;
}
footer .footer1 .contacto{
    /* text-align: center; */
    padding-left: 20%;
}
footer .footer1 .contacto h3,
footer .footer1 .menu-links h3{
   font-size: 2.3rem;
   font-weight: 600;
   padding-bottom: 1rem;
   color: var(--white);
   letter-spacing: .5rem;
}
footer .footer1 .contacto li,
footer .footer1 .menu-links li{
    font-size: 1.8rem;
    line-height: 2;
    color: var(--white);
}
footer .footer1 .menu-links li:hover{
    color: var(--yellow);
    padding-left: .3rem;
}

footer .footer1 .logo img{
    width: 150px;
}
footer .footer1 .logo p{
    padding-top: 1.5rem;
    font-size: 1.5rem;
    text-align: justify;
    color: var(--white);
}

/* Page Nostros */
.nosotros-page{
    padding-bottom: 5rem;
}
.nosotros-page .banner{
    position: relative;
    background: url('../storage/cliente/nosotros-banner2.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 50rem;

    display: flex;
    justify-content: center;
    align-items: center;
}
.nosotros-page .banner::before{
    content: '';
    position: absolute;
    top: 0;left: 0;
    width: 100%;height: 100%;
    background: rgba(25,42,86,0.5);
}
.nosotros-page .banner h1{
    position: relative;
    font-size: 6rem;
    font-weight: 700;
    color: var(--white);
    text-transform: uppercase;
}
/* .nosotros-page .banner{
    height: 50rem;
    position: relative;
    background-attachment: fixed;
}
.nosotros-page .banner::before{
    content: '';
    position: absolute;
    width: 100%;height: 100%;
    background: rgba(25,42,86,0.5);
}
.nosotros-page .banner img{
    width: 100%;height: 100%;
    background-size: cover;
    background-repeat: no-repeat;

} */
.nosotros-page .content .info1,
.nosotros-page .content .info2,
.nosotros-page .content .info3{
    display: flex;
    gap: 2rem;

}
.nosotros-page .content .info1 .content,
.nosotros-page .content .info2 .content,
.nosotros-page .content .info3 .content{
    width: 50%;/* background: red; */
    padding: 1rem;
}
.nosotros-page .content .info1 .content p,
.nosotros-page .content .info2 .content p,
.nosotros-page .content .info3 .content p{
    font-size: 1.8rem;
    line-height: 1.8;
}
.nosotros-page .content .info1 .icon,
.nosotros-page .content .info2 .icon,
.nosotros-page .content .info3 .icon{
   /*  background: green; */
    width: 50%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.nosotros-page .content .info1 .icon img,
.nosotros-page .content .info2 .icon img,
.nosotros-page .content .info3 .icon img{
    width: 20rem;
}
.nosotros-page .heading{
    margin-top: 1rem;
}
.nosotros-page .heading-right{
    border: none;
    border-right: 1rem solid var(--yellow);
    text-align: end;
}
.nosotros-page .logo-container{
    background: var(--white);
}
.nosotros-page .logo-container .heading{
    border: none;
    padding-bottom: 3rem;
}
/* Servicios Page ******************/
.servicios-page .heading{
    border: none;
    text-align: center;
}
.servicios-page .head{
    position: relative;

}
.servicios-page .head #menu-servicios-btn{
    position: absolute;
    bottom: 0;
    left: 20px;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    background: var(--light-bg);
    color: var(--black);
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.servicios-page .heading2{
    font-size: 2.5rem;
}
.servicios-page .content{
    display: flex;
    flex-wrap: wrap;

}
.servicios-page .content .menu{
    width: 20%;
    padding: 1rem;
}
.servicios-page .content .content-service{
    width: 80%;
    padding-left: 3rem;
}
.servicios-page .content .content-service p{
    font-size: 1.5rem;
}
.servicios-page .content .menu nav{
    display: flex;
    flex-direction: column;
}
.servicios-page .content .menu nav a{
    font-size: 1.5rem;
    display: block;
    padding: 2rem 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--light-color);
    /* border-left: .5rem solid var(--yellow); */
}
.activelinkServicio{
    border-left: .5rem solid var(--yellow);
}
.servicios-page .content .menu nav a:hover{
    color: var(--yellow);
    /* padding-left: 1.5rem; */
    border-bottom: 1px solid var(--yellow)
}
.servicios-page .content .content-service .imgs-servicio{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    gap: 2rem;
}
.servicios-page .content .content-service .imgs-servicio a{
    max-height: 300px;
}
.servicios-page .content .content-service .imgs-servicio img{
    width: 100%;
    height: 100%;
}




/* media queries */
@media (max-width:1200px){
    .header{
        padding: 1.5rem 2rem;
    }
    section{
        padding: 3rem 5%;
    }
}
@media (max-width:991px){
    html{
        font-size: 55%;
    }
    section{
        padding: 3rem 2rem;
    }
    .header .icons #menu-btn{
        display: inline-block;
    }
    .header .navbar{
        position: absolute;
        top: 99%;left: 0;right: 0;
        background: var(--white);
        border-top: var(--border);
        border-bottom: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0,0 0);
        transition:.2s linear;
    }
    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%,0 100%);
    }
    .header .navbar a{
        display: block;
        margin:2rem;
    }
    /* servicios page */
    .servicios-page .head #menu-servicios-btn{
        display: flex;
    }
    .servicios-page .content .menu{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        /* background: rgba(0, 0, 0, .7); */
        padding: 0;
        transition: .3s all ease;
        transform: translate(0%);
        transform: translate(-100%);
    }
    .servicios-page .content .menu.active{

        transform: translate(0%);
    }
    .servicios-page .content .menu nav{
        margin: 0;
        width: 30rem;
        height: 100%;
        background: var(--white);
        padding-top: 10rem;
    }
    .servicios-page .content .content-service{
        width: 100%;
    }

}
@media (max-width:768px){
    .header .search-form{
        width: 90%;
    }
    .header .login-form{
        width: 90%;
    }
    .home .slide{
        justify-content: center;
    }
    .home .slide .content{
        text-align: center;
    }
    .home .slide .content h3{
        font-size: 3rem;
    }
    .popup-image img{
        width: 95%;
    }
    .nosotros-page .content .info1 .icon,
    .nosotros-page .content .info2 .icon,
    .nosotros-page .content .info3 .icon{
        display: none;
    }
    .nosotros-page .content .info1 .content,
    .nosotros-page .content .info2 .content,
    .nosotros-page .content .info3 .content{
        width: 100%;/* background: red; */
        padding: 1rem;
    }
    .about .box-container .box img{
        height: 6rem;
    }
    .nosotros-page .banner h1{
        font-size: 4rem;
        text-align: center;
    }

}
@media (max-width:650px){

    footer .footer1{
        grid-template-columns: repeat(1,1fr);
    }
    footer .footer1 .menu-links,
    footer .footer1 .contacto{
        padding: 0;
        text-align: center;
    }
}
@media (max-width:450px){
    html{
        font-size: 50%;
    }
    .header .logo img{
        width: 100px;
        /* height: 40px; */
    }
    .login-form{
       width: 90%;
    }
    .servicios-page .heading{
        text-align: right;
    }
    .servicios-page .head #menu-servicios-btn{
        height: 4rem;
        width: 4rem;
        line-height: 4rem;
        font-size: 1.8rem;
        top: 20%;
    }
}
